{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
</head>
<body>
    <header class="header sticky-top">
        <div class="container-fluid px-3 px-md-4 px-lg-5">
            <div class="row align-items-center">
                <!-- Левая колонка - навигация -->
                <div class="col-4" >
                    <nav>
                        <ul class='list-inline mb-0'>
                            <li class="list-inline-item me-2 me-md-3 me-lg-5 ps-2 ps-md-4"><a href="/" class='nav-li'>Home</a></li>
                            <li class="list-inline-item"><a href="/shop" class='nav-li'>Shop</a></li>
                        </ul>
                    </nav>
                </div>
                
                <!-- Центральная колонка - лого -->
                <div class="col-4 text-center logo-div">
                    <a href="/"><img src="{% static 'img/logo.img' %}" alt="Logo" class='logo'></a>
                </div>
                
                <!-- Правая колонка - профиль и корзина -->
                <div class="col-4 text-end">
                    <div class="d-flex align-items-center justify-content-end ">
                        <div class="position-relative bascket">
                            <a href="{% url 'cart:detail' %}" class="text-decoration-none ">
                                <img src="{% static 'img/cart.png' %}" alt="Cart" class='bascket-img'>
                            </a>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge" style="margin-left: -10px">
                                {% with cart_quantity=cart|length %}
                                    {% if cart_quantity > 0 %}
                                        {{ cart_quantity }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </span>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="d-flex align-items-center gap-2">
                                <a href="{% url 'users:profile' %}" class="nav-li">Profile</a>
                                <span class="text-muted">|</span>
                                <a href="{% url 'users:logout' %}" class="nav-li">Logout</a>
                            </div>
                        {% else %}
                            <a href="{% url 'users:login' %}" class="nav-li">Login</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </header>
    
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>